<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <!--<h1><%= title %></h1>-->
        <!--<p>Hello <%= user.first%> <%= user.last%>! Welcome to your profile page. To go back to the home page,-->
            <!--<a href="/">click here</a>.</p>-->

        <div class = "right">
            <p> <a href="/calendar"> Home </a></p>
            <p> <a href="/logout">Logout</a></p>
        </div>

        <div class = "container">
            <h1> <a><%= user.first%></a> <a><%= user.last%></a> </h1>
            <br>
        </div>

        <table class="table">

            <tr>
                <td>Department: <a><%= user.extraData.deptName%></a></td>
                <td>Office Number: <a><%= user.extraData.officePhone%></a></td>
            </tr>

        </table>

    </body>


</html>