<%include header.ejs%>

        <div class = "navBar">
            <a href="/calendar">Appointments</a>
            <a href="/availability">Choose Availability</a>
            <a href="/logout">Logout</a>
        </div>

        <div class = "container">
            <h1> <a><%= user.first%></a> <a><%= user.last%></a> </h1>
            <br>

            <table class="table">

                <tr>
                    <td><b>Department:</b> <%= user.extraData.deptName%></td>
                    <td><b>Department Number:</b> <%= user.extraData.officePhone%></td>
                </tr>

                <tr>
                    <td><b>Department Location:</b> <%= user.extraData.location%></td>
                    <td><b>Office Phone</b>: <%= user.extraData.officePhone%></td>
                </tr>
                <tr>
                    <td colspan="2"><a href="/profile/edit">Edit Profile</a></td>
                </tr>

            </table>
        </div>

        <br/>


<%include footer.ejs%>