<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/calendar.css' />
    </head>

    <body>

        <div class = "navBar">
            <a href="/calendar">Calendar</a>
            <a href="/availability">Choose Availability</a>
            <a href="/logout">Logout</a>
        </div>

        <div class = "container">
            <h1> <a><%= user.first%></a> <a><%= user.last%></a> </h1>
            <br>
        </div>

        <table class="table">

            <tr>
                <td>Department: <a><%= user.extraData.deptName%></a></td>
                <td>Office Number: <a><%= user.extraData.officePhone%></a></td>
            </tr>

        </table>

    </body>


</html>