<%include header.ejs%>

        <div class = "navBar">
            <a href="/calendar">Appointments</a>
            <a href="/availability">Choose Availability</a>
            <a href="/logout">Logout</a>
        </div>

        <div class = "container">
            <h1> <a><%= user.first%></a> <a><%= user.last%></a> </h1>
            <br>

            <table class="table">

                <tr>
                    <td>Email: <a><%= user.email%></a></td>
                    <td>Department: <a><%= user.extraData.deptName%></a></td>
                </tr>

                <tr>
                    <td>Department Location: <a><%= user.extraData.location%></a></td>
                    <td>Office Phone: <a><%= user.extraData.officePhone%></a></td>
                </tr>

            </table>
        </div>

        <br/>

        <h2>Your Booked Appointments</h2>
        <table>
            <tr></tr>
        </table>

        <br/>
        <a href="/profile/professor/edit">Edit Profile</a>

        <br>
        <br>

<%include footer.ejs%>