<!DOCTYPE html>
<html>

<head>

    <title> Profile Page </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>


<body>
    <div class = "container">

        <h1> <a><%= user.first%></a> <a><%= user.last%></a> </h1>

        <h3><td><a><%= user.number%></a></td>

        <td><a><%= user.email%></a></td>

    <td><a><%= user.extraData.office %></a></td></h3>

    </div>

</body>

</html>
