<%include header.ejs%>
        <!--<h1><%= title %></h1>-->
        <div class = "navBar">
            <a href="/calendar">View Calendar</a>
            <a href="/logout">Logout</a>
        </div>

        <div class = "container">
            <h1> <%= user.first%> <%= user.last%> </h1>
            <br/>

            <table class="table">

                <tr>
                    <td><b>Email: </b><%= user.email%></td>
                    <td><b>Phone Number:</b><%= user.extraData.phoneNo%></td>
                </tr>

                <tr>
                    <td><b>Major: </b><%= user.extraData.major%></td>

                    <td><b>Minor: </b><%= user.extraData.minor%></td>
                </tr>
                <tr><td colspan="2"><a href="/profile/edit">Edit Profile</a></td></tr>
            </table>

        </div>

        <br>
        <br>
<%include footer.ejs%>