<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <!--<h1><%= title %></h1>-->
        <div class = "right">
            <p> <a href="/calendar"> Home </a></p>
            <p> <a href="/logout">Logout</a></p>
        </div>

        <div class = "container">
            <h1> <a><%= user.first%></a> <a><%= user.last%></a> </h1>
            <br>
        </div>

        <table class="table">

            <tr>
                <td>Phone Number: <a><%= user.extraData.phoneNo%></a></td>
                <td>Email: <a><%= user.email%></a></td>
            </tr>

            <tr>
                <td> Major:
                <a><%= user.extraData["major"] %></a>
                </td>

                <td>
                Minor:
                <a><%= user.extraData.minor%></a>

                </td>
            </tr>
        </table>

    </body>
</html>
